	body {
		background-color : #333333;
		color: #ffffff;
	}
	ul.navbar {
		position: absolute;
		top: 2em;
		left: 1em;
		width: 11em;
	}
	ul.navbar li {
		/*background: white;*/
		list-style-type: none;
		margin: 0.5em 0;
		padding: 0.3em;
		/*border-right: 1em solid black;*/
	}
	ul.navbar a {
		text-decoration: none;
	}
	dl.navbar {
		position: absolute;
		top: 2em;
		left: 1em;
		width: 11em;
	}
	dl.navbar li {
		list-style-type: none;
		/*background: white;*/
		margin: 0.5em 0;
		padding: 0.3em;
		/*border-right: 1em solid black;*/
	}
	dl.navbar a {
		text-decoration: none;
	}
	a:link {
		color: #00dd00;
		font-weight: bold;
		font-family: Arial;
	}
	a:visited {
		color: #00dd00;
		font-weight: bold;
		font-family: Arial;
	}
	address {
		margin-top: 1em;
		padding-top: 1em;
		border-top: thin dotted 
	}
	div#main {
		margin-left: 14em;
		width: 633px;
		margin-top: 1px;
		padding: 22px;
		background-color: #777777;
		margin-bottom: 22px;
	}
	footer {
		text-align:center;
	}
	
	ul .roundabout{
		
	}

	div#mpage {
		width: 1024px;
		height: 768px;
		margin-left: auto;
		margin-right: auto;
		/*background-color: #ffffff;*/

	}
