#category{
	position:absolute;
	top:0px;
	left:380px;
	font-size:70px;
	color: white;
}

#month{
 position:absolute;
 top:0px;
 left: 650px;
 font-size:70px;
 color: white;
}

#month2{
 position:absolute;
 top:0px;
 left: 650px;
 font-size:70px;
 color: white;
}