body {
	background-color : #FFFFFD;
	background-image:url("../images/main_bk.png");
	background-repeat: no-repeat;
	background-size: 1030px 748px;
	background-attachment:fixed;
}

#main{
	position:absolute;
	left: 250px;
	top:55px;
}