body {
background-image:url("../images/lead_back.png");
background-repeat: no-repeat;
height: 1122px;
z-index: 2;
}

#ele{
top: -5px;
left: 707px;
position: fixed;
z-index: 3;
}

#stone{
	position: relative;
	top:-922px;
	left:21px;
	z-index: -1;
}


#sep1{
	position: relative;
	top:-1750px;
	left:-7px;

}