#back {
	top: -300px;
	z-index: -2;
}

#ele{
	top: 78px;
	left: 707px;
	position: fixed;
	z-index: 2;
}

#stone{
	position: relative;
	top:-922px;
	left:29px;

}

#sep1{
	position: relative;
	top:-1750px;
	left:1px;

}