body {
	//background-color : #FFFFFD;
	background-color : Red;
	background-position:center;
}

#header{
	//top: -50px;
}

#category{
	position: absolute;
	left:30px;
	font-size:54px;
	color:white;
	top:35px;
}

#month{
	position: absolute;
	padding-left:410px;
	font-size:54px;
	color:white;
	top:35px;
}

#main{
	position: absolute;
	left:-15px;
	top: -15px;
}

#part01{
	background-image:url("../images/light_rock.jpg");
	background-repeat:repeat;
	height: 1122px;
}

#info01{
	position: relative;
	padding-left: 80px;
	top: -10px;
}

#dot01{
	position: absolute;
	top: 370px;
	left: 290px;
	height:190px;
	border-color:#006400;
	border-width: 8px;
	border-left-style: dotted;
}

#info02{
	position: relative;
	padding-left: 370px;
	top: -230px;

}

#dot02{
	position: absolute;
	top:370px;
	left: 635px;
	height:190px;
	border-color:#006400;
	border-width: 8px;
	border-left-style: dotted;
}

#info03{
	position: relative;
	padding-left: 720px;
	top: -450px;

}

#dot03{
	position: absolute;
	top:580px;
	left: 20px;
	width: 975px;
	border-color:#006400;
	border-width: 8px;
	border-bottom-style: dotted;
}

#info04{
	position: relative;
	padding-left: 320px;
	top: -410px;
}

#info04 h{

}

#splitter01{
	position: relative;
	top: -350px
}

#part02Title{
	position: absolute;
	padding-left:30px;
	font-size:54px;
	top:-130px;
}

#part02{
	position: relative;
	background-image:url("../images/bg.png");
	top:160px;
	background-repeat:repeat;
	height: 520px;
}

#info05{
	position: relative;
	padding-left: 150px;
	top:50px;
}

#Dealer_Retention02{
	position: relative;
	top: -20px;
	padding-left: 20px;
}

#info06{
	position: relative;
	padding-left: 550px;
	top:-90px;
}

#Visit_Per_Customer02{
	position: relative;
	top: -20px;
	padding-left: 20px;
}

#info07{
	position: relative;
	top:-340px;
	padding-left:120px;
	color:white;

}

#Kevpointer{
	position: relative;
	top:-578px;
}

#dot04{
	position: absolute;
	top: 25px;
	left: 480px;
	height:170px;
	border-color:#E0E0E0;
	border-width: 8px;
	border-left-style: dotted;
}

#dot05{
	position: absolute;
	top:220px;
	left: 20px;
	width: 975px;
	border-color:#E0E0E0;
	border-width: 8px;
	border-bottom-style: dotted;
}

#splitter02{
	position: relative;
	top: -538px;
}

#part03{
	position: relative;
	background-image:url("../images/bg03.png");
	top:303px;
	background-repeat:repeat;
	height: 750px;
}

#info08{
	position: relative;
	top:50px;
	padding-left:150px;
	color:black;

}

#info09{
	position: relative;
	top:-303px;
	padding-left:580px;
	color:black;
}

#info10{
	position: relative;
	top:-250px;
	padding-left:150px;
	color:black;
}

#dot06{
	position: absolute;
	top: 45px;
	left: 520px;
	height:300px;
	border-color:#2F4F4F;
	border-width: 8px;
	border-left-style: dotted;
}

#dot07{
	position: absolute;
	top:380px;
	left: 20px;
	width: 975px;
	border-color:#2F4F4F;
	border-width: 8px;
	border-bottom-style: dotted;
}























