body {
	background-color : #FFFFFD;
	background-position:center;
}

#header{
	//top: -50px;
}

#category{
	position: absolute;
	left:30px;
	font-size:54px;
	color:white;
	top:35px;
}

#month{
	position: absolute;
	padding-left:410px;
	font-size:54px;
	color:white;
	top:35px;
}

#main{
	position: absolute;
	left:-15px;
	top: -15px;
}

#part01{
	background-image:url("images/light_rock.jpg");
	background-repeat:repeat;
	height: 1122px;
}

#info01{
	position: relative;
	padding-left: 80px;
	top: -10px;
}

#dot01{
	position: absolute;
	top: 370px;
	left: 290px;
	height:190px;
	border-color:#006400;
	border-width: 8px;
	border-left-style: dotted;
}

#info02{
	position: relative;
	padding-left: 370px;
	top: -230px;

}

#dot02{
	position: absolute;
	top:370px;
	left: 635px;
	height:190px;
	border-color:#006400;
	border-width: 8px;
	border-left-style: dotted;
}

#info03{
	position: relative;
	padding-left: 720px;
	top: -450px;

}

#dot03{
	position: absolute;
	top:580px;
	left: 20px;
	width: 975px;
	border-color:#006400;
	border-width: 8px;
	border-bottom-style: dotted;
}

#info04{
	position: relative;
	padding-left: 150px;
	top: -410px;

}

.splitter{
	position: relative;
	top: -350px
}

#part02Title{
	position: absolute;
	padding-left:30px;
	font-size:54px;
	top:-130px;
}

#part02{
	position: relative;
	background-image:url("images/bg.png");
	top:160px;
	background-repeat:repeat;
	height: 1122px;
}

#info05{
	position: relative;
	padding-left: 150px;
	top:20px;
}

#Dealer_Retention02{
	position: relative;
	top: -20px;
	padding-left: 20px;
}

#info06{
	position: relative;
	padding-left: 500px;
	top:-119px;
}

#Visit_Per_Customer02{
	position: relative;
	top: -20px;
	padding-left: 20px;
}

#info07{
	position: relative;
	padding-left: 500px;
	top:-119px;
}
























